<nav class="navbar">
  <a class="navbar__logo" href="/">
    <img src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2152669595/settings_images/ba0cce-f0f1-d8-ff0f-00033ad3d421_D_D.png" alt="Data Over Dogma" class="navbar__logo-img">
  </a>
  <ul class="navbar__nav">
    {{ range .Site.Menus.main }}
      <li class="{{ if $.IsMenuCurrent "main" . }}active{{ end }}">
        <a href="{{ .URL }}" class="navbar__link">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
</nav>
