:root {
  --brown-000: hsl(18, 71%, 98%);
  --brown-100: hsl(20, 52%, 94%);
  --brown-200: hsl(18, 34%, 87%);
  --brown-300: hsl(16, 22%, 73%);
  --brown-400: hsl(15, 18%, 55%);
  --brown-450: hsl(12, 22%, 38%);
  --brown-500: hsl(10, 24%, 20%);
  --brown-600: hsl(8, 20%, 15%);
  --brown-700: hsl(8, 18%, 11%);
  --brown-800: hsl(10, 18%, 8%);

  --olive-100: hsl(34, 24%, 96%);
  --olive-200: hsl(28, 20%, 90%);
  --olive-300: hsl(22, 18%, 80%);
  --olive-400: hsl(8, 34%, 46%);
  --olive-500: hsl(10, 60%, 31%);
  --olive-600: hsl(8, 69%, 24%);
  --olive-700: hsl(8, 71%, 14%);

  --tan-000: hsl(24, 45%, 98%);
  --tan-100: hsl(20, 36%, 96%);
  --tan-200: hsl(20, 21%, 92%);
  --tan-300: hsl(16, 16%, 85%);
  --tan-400: hsl(14, 14%, 70%);
  --tan-450: hsl(12, 13%, 55%);
  --tan-500: hsl(12, 11%, 44%);
  --tan-600: hsl(10, 13%, 26%);
  --tan-700: hsl(8, 12%, 16%);
  --tan-800: hsl(8, 14%, 11%);
  --tan-900: hsl(8, 18%, 7%);

  --gray-500: hsl(0, 0%, 39%);
  --gray-600: hsl(0, 0%, 27%);
  --gray-700: hsl(0, 0%, 12%);

  --teal-300: hsl(47, 100%, 70%);
  --teal-400: hsl(47, 100%, 58%);
  --teal-500: hsl(47, 100%, 50%);
  --teal-600: hsl(44, 100%, 42%);

  --light-bg: linear-gradient(180deg, var(--tan-100) 0%, var(--tan-200) 100%);
  --dark-bg: linear-gradient(180deg, var(--tan-600) 0%, var(--tan-700) 100%);
}

@supports (color: oklch(0.9 0.01 76)) {
  :root {
    --brown-000: oklch(0.9839 0.0084 44.27);
    --brown-100: oklch(0.9558 0.0182 42.22);
    --brown-200: oklch(0.9008 0.0215 39.63);
    --brown-300: oklch(0.7938 0.0235 34.72);
    --brown-400: oklch(0.6275 0.0311 30.47);
    --brown-450: oklch(0.4684 0.0388 28.77);
    --brown-500: oklch(0.3072 0.0385 28.71);
    --brown-600: oklch(0.2491 0.0274 28.91);
    --brown-700: oklch(0.191 0.0203 27.63);
    --brown-800: oklch(0.1514 0.0187 28.95);

    --olive-100: oklch(0.9747 0.0086 62.57);
    --olive-200: oklch(0.926 0.0127 58.58);
    --olive-300: oklch(0.8498 0.0169 47.74);
    --olive-400: oklch(0.5637 0.1274 27.96);
    --olive-500: oklch(0.4312 0.1555 28.37);
    --olive-600: oklch(0.3503 0.1363 27.37);
    --olive-700: oklch(0.2402 0.0892 26.33);

    --tan-000: oklch(0.9896 0.0055 52.23);
    --tan-100: oklch(0.9709 0.0099 46.28);
    --tan-200: oklch(0.9339 0.0103 37.76);
    --tan-300: oklch(0.8778 0.0092 31.38);
    --tan-400: oklch(0.7511 0.012 28.35);
    --tan-450: oklch(0.6274 0.0143 28.28);
    --tan-500: oklch(0.5232 0.0132 28.42);
    --tan-600: oklch(0.3281 0.0156 28.82);
    --tan-700: oklch(0.2115 0.0124 27.59);
    --tan-800: oklch(0.1614 0.0118 27.79);
    --tan-900: oklch(0.1213 0.0128 27.62);

    --gray-500: oklch(0.5237 0 0);
    --gray-600: oklch(0.3742 0 0);
    --gray-700: oklch(0.2146 0 0);

    --teal-300: oklch(0.8781 0.1651 94.35);
    --teal-400: oklch(0.8108 0.1738 91.54);
    --teal-500: oklch(0.7447 0.1775 89.8);
    --teal-600: oklch(0.6719 0.1575 85.3);
  }
}
