<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1" />
<title>{{ .Title }}</title>
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
{{ if .Params.noindex }}
  <meta name="robots" content="noindex, follow" />
{{ end }}


<!-- Resource hints for external domains -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Work+Sans:wght@400;500;600;700&display=swap" />
<link rel="dns-prefetch" href="https://api.pirsch.io" />
