{{- $items := slice -}}
{{- $pos := 0 -}}
{{- range .Ancestors.Reverse -}}
  {{- $pos = add $pos 1 -}}
  {{- $name := .Title -}}
  {{- if .IsHome -}}{{- $name = "Home" -}}{{- end -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" $pos "name" $name "item" (.Permalink | strings.TrimSuffix "/")) -}}
{{- end -}}
{{- $pos = add $pos 1 -}}
{{- $items = $items | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" (.Permalink | strings.TrimSuffix "/")) -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" $items
-}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
