{{- $headshot := .Resources.GetMatch "headshot.*" -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Person"
  "name" (.Params.title | default .Title)
  "url" .Permalink
-}}
{{- with $headshot -}}
  {{- $schema = merge $schema (dict "image" (urls.AbsURL .RelPermalink)) -}}
{{- end -}}
{{- with .Params.shortRole -}}
  {{- $schema = merge $schema (dict "jobTitle" .) -}}
{{- end -}}
{{- with .Params.summary -}}
  {{- $schema = merge $schema (dict "description" .) -}}
{{- end -}}
{{- with .Params.expertise -}}
  {{- $schema = merge $schema (dict "knowsAbout" .) -}}
{{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
